<div class="container">
<h2>Contacto</h2>

<div id="texto" #textos>
	<p>
		Puedes enviarme cualquier duda a diegosouto2000@gmail.com
	</p>
</div>

<!--
Tamaño del slider:
<input type="number" [(ngModel)]="widthSlider"/>
<button (click)="cargarSlider()">Cargar slider</button>
<button (click)="resetearSlider()">Resetear slider</button>

<div *ngIf="anchuraToSlider">
	<slider [anchura]="anchuraToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"
	></slider>
</div>

{{autor.nombre + " " + autor.website}}
-->

</div>